src/main/mule/indigoFlightsFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="indigoFlightsFlow" doc:id="985dbe6c-7e21-4beb-aed5-967de40460e3" >
		<logger level="INFO" doc:name="Logger" doc:id="95551f0f-03f5-4a7d-8075-6a4f662a07e8" />
		<http:request method="GET" doc:name="Request" doc:id="727245e9-7ced-47ed-ac39-14c0f33486ee" config-ref="HTTP_Request_configuration" path="/api/getflights">
			<http:query-params ><![CDATA[#[output application/java
---
{
	from : attributes.queryParams.source,
	to : attributes.queryParams.destination,
	doj : attributes.queryParams.doj
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="a9edb2df-e0cc-48b1-bc86-394d7b0d2bd5" />
	</flow>
</mule>
