src/main/mule/indigoFlightsFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="88cfee19-1dda-4c03-b507-7e8a24233fd7" responseTimeout="200000">
		<http:request-connection host="indigo-services.us-e2.cloudhub.io" port="80" />
	</http:request-config>
	<flow name="indigoFlightsFlow" doc:id="2bc95b8f-0b8c-4d2d-b4ed-01db41758bfe" >
		<logger level="INFO" doc:name="Logger" doc:id="74dfe5e6-caaa-4ab5-b680-bf77d7855bc4" message="indigoFlightsFlow starts..."/>
		<http:request method="GET" doc:name="Request" doc:id="af27d658-6a9e-4d1d-bc3b-611d1c5cb315" path="/api/getFlights" config-ref="HTTP_Request_configuration">
			<http:query-params ><![CDATA[#[output application/java
---
{
	from : attributes.queryParams.source,
	to : attributes.queryParams.destination,
	depatureDate : attributes.queryParams.doj
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="e9a9dafd-6733-4f66-ad3a-f2e35d807934" message="response from indigoFlightsFlow....#[payload]"/>
	</flow>
</mule>
